<tr th:fragment="rental-query-row">
        <form method="post" th:action="@{/secured/rental/find}" th:object="${rentDto}">
          <td><input type="text" class="form-control" th:field="*{rentalId}" id="rentalId" list="rentals" placeholder="Rental Entry ID" />
          		<datalist id="rentals">
          			<th:block th:each ="rent: ${rentalList}">
          			<option th:value ="${rent.rentalId}"/>
          			</th:block>
          		</datalist>
          </td>
           <td><input type="text" class="form-control" th:field="*{registrationNumber}" id="registrationNumber" list="regNums" placeholder="Car Registration" />
           		<datalist id="regNums">
          			<th:block th:each ="rent: ${rentalList}">
          			<option th:value ="${rent.car.registrationNumber}"/>
          			</th:block>
          		</datalist>
          		</td>
          		<td><input type="text" class="form-control" th:field="*{nationalId}" id="nationalId" list="nics" placeholder="National ID" />
           		<datalist id="nics">
          			<th:block th:each ="rent: ${rentalList}">
          			<option th:value ="${rent.user.nationalId}"/>
          			</th:block>
          		</datalist>
          		</td>
           <td><input type="date" class="form-control" th:field="*{startDate}" id="startDate" list="sDates" placeholder="Start Date"  />
           		<datalist id="sDates">
          			<th:block th:each ="rent: ${rentalList}">
          			<option th:value ="${rent.startDate}"/>
          			</th:block>
          		</datalist>
          		</td>
          		 <td><input type="date" class="form-control" th:field="*{endDate}" id="eDates" list="eDates" placeholder="End Date"  />
           		<datalist id="eDates">
          			<th:block th:each ="rent: ${rentalList}">
          			<option th:value ="${rent.endDate}"/>
          			</th:block>
          		</datalist>
          		</td>
          		 <td><input type="number" class="form-control" th:field="*{returned}" id="returned" list="retOpt" placeholder="Ruturned"  />
           		<datalist id="retOpt">
          			<option value="0">False</option>
          			<option value="1">True</option>
          			</th:block>
          		</datalist>
          		</td>
          		
           <td class="text-right" sec:authorize="hasRole('ROLE_ADMIN')">
               <button type="submit" class="btn btn-primary col-sm-14">Search</button>
            </td>
        
        </form>
        </tr>