<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Include header, including javascript and CSS files. -->
    <div th:replace="fragments/header :: header-head"/>
</head>
<body>
<!-- Include navigation bar in the page. -->
<div th:replace="fragments/header :: header-nav"/>

<div class="container mt-4">
    <h1> Administrator Dashboard</h1>
    <h3 class="text-primary">Car Rental ltd</h3>
    
    
    <!-- Marketing Icons Section -->
      <div class="row">
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h4 class="card-header">Manage Cars</h4>
            <div class="card-body">
              <p class="card-text">
              <b>View:</b> Displays all the car entries<br/>
              <b>Add:</b>  Create a new car entry<br/>
              <b>Update:</b>  Edit the Car profile<br/>
             <b>Delete:</b>  Remove a Car entry<br/>
             <b>Query:</b>  File a query to database<br/>
             <b>Available:</b>  Show all cars currently available<br/>
              </p>
            </div>
            <div class="card-footer">
              <a href="secured/car/all" class="btn btn-primary">View All</a>
              <a href="secured/car/add" class="btn btn-primary">Add</a>
              <a href="secured/car/query" class="btn btn-primary">Update</a>
              <a href="secured/car/query" class="btn btn-danger">Delete</a>
            </div>
            <div class="card-footer">
              <a href="secured/rental/search" class="btn btn-primary">Query</a>
              <a href="customer/car/showallavail" class="btn btn-primary">Available Car</a>
              <a href="secured/car/csvFileTocar" class="btn btn-warning">Import CSV</a>
              
            </div>
            
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h4 class="card-header">Manage Customers</h4>
            <div class="card-body">
              <p class="card-text">
             <b>View:</b> Displays all the user entries!<br/>
              <b>Add:</b>  Create a new user entry!<br/>
              <b>Update:</b>  Edit the user profile!<br/>
             <b>Delete:</b>  Remove a user entry!<br/>
              </p>
            </div>
            <div class="card-footer">
              <a href="secured/user/all" class="btn btn-primary">View All</a>
              <a href="secured/user/add" class="btn btn-primary">Add</a>
              <a href="secured/user/query" class="btn btn-primary">Update</a>
              <a href="secured/user/query" class="btn btn-danger">Delete</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h4 class="card-header">Manage Rental</h4>
            <div class="card-body">
              <p class="card-text">
              <b>View:</b> Displays all the car entries!<br/>
              <b>Update:</b>  Edit the Car profile!<br/>
             <b>Delete:</b>  Remove a Car entry!<br/>

			</p>
            </div>
            <div class="card-footer">
              <a href="secured/rental/all" class="btn btn-primary">View All</a>
              <a href="secured/rental/query" class="btn btn-primary">Update</a>
              <a href="secured/rental/query" class="btn btn-primary">Delete</a>
            </div>
            <div class="card-footer">
              <a href="secured/rental/search" class="btn btn-primary">Query</a>
              <a href="customer/car/showallavail" class="btn btn-warning">Allocate</a>
              <a href="secured/car/released" class="btn btn-success">Release</a>
              
            </div>
            
          </div>
        </div>
      </div>
    
    </div>
</body>
</html>