<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Include header, including javascript and CSS files. -->
    <div th:replace="fragments/header :: header-head"/>
</head>
<body>
<!-- Include navigation bar in the page. -->
<div th:replace="fragments/header :: header-nav"/>

<div class="container mt-4">
    <h1> Customer Dashboard</h1>
    <h3 class="text-primary">Car Rental ltd</h3>
    
    <!-- User Profile Section -->
    <h4 style="color:blue;"> Customer Profile</h4>
    
   <table th:replace="fragments/customerProfileTable :: customer-profile-table"></table>
    
    
    <!-- Status -->
	<h4 class="text-primary">
     	<span class="badge badge-primary" th:text="${status}"></span></h4> 
     	
     	
    <!-- User Rental Action section  -->
		<ul class="nav nav-tabs">
			<li class="nav-item"><a class="nav-link active show"
				data-toggle="tab" href="#rentalHistory"><h5>Rental History</h5></a></li>
			<li class="nav-item"><a class="nav-link" data-toggle="tab"
				href="#availCar"><h5>Available Cars For Rent</h5></a></li>
		</ul>
		<div id="myTabContent" class="tab-content">
			<div class="tab-pane fade active show" id="rentalHistory">
				
				<!-- Rental History Table -->
				<table class="table">
					<thead
						th:replace="fragments/rentalTableHeader :: rental-table-header"></thead>

					<tbody>
						<!-- Rental Query Row -->
						<tr sec:authorize="hasRole('ADMIN')" th:replace="fragments/rentalQueryRow :: rental-query-row"></tr>
						
						<!-- Rental list per row -->
						<tr th:replace="fragments/populateRentalTable :: populate-rental-table"></tr>
					</tbody>
				</table>
			</div>
			<div class="tab-pane fade" id="availCar">
				<!-- Available Car list -->
				<table th:replace="customer_page/listAvailCar :: available-car-table"></table>
			</div>
		</div>


		<!-- Footer -->
    <footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>