<!DOCTYPE HTML>
<!-- Namespace for Securty extension for thymeleaf is added enabling the use of sec:authentication and sec:authorize-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <!-- Include header, including javascript and CSS files. -->
    <div th:replace="fragments/header :: header-head"/>

    
</head>
<body>
<!-- Include navigation bar in the page. -->
<div th:replace="fragments/header :: header-nav"/>

<!-- Page content -->
<div class="container mt-4">
    <h1> Home Page Test</h1>
    <h3 class="text-primary">Car Rental ltd</h3>
    
    
    <!-- Page Content -->
    <div class="container">

      <!-- Content Row -->
      <div class="row">
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h3 class="card-header">Browse</h3>
            <div class="card-body">
              <div class="display-4">Guest</div>
              <div class="font-italic">View gallery</div>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Line 1</li>
              <li class="list-group-item">Line 2</li>
              <li class="list-group-item">Line 3</li>
              <li class="list-group-item">
                <a href="#" class="btn btn-primary">Visit</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card card-outline-primary h-100">
            <h3 class="card-header bg-primary text-white">Rent Now</h3>
            <div class="card-body">
              <div class="display-4">Customer</div>
              <div class="font-italic">Access Only</div>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Line 1</li>
              <li class="list-group-item">Line 2>
              <li class="list-group-item">Line 3</li>
              <li class="list-group-item">
                <a href="/customer" class="btn btn-primary">Sign In!</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h3 class="card-header">Dashboard</h3>
            <div class="card-body">
              <div class="display-4">Admin</div>
              <div class="font-italic">Access Only</div>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Line 1</li>
              <li class="list-group-item">Line 2</li>
              <li class="list-group-item">Line 3</li>
              <li class="list-group-item">
                <a href="/secured" class="btn btn-primary">Sign In!</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- /.row -->
    
       
</div>


<!-- Footer -->
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>






