<!DOCTYPE HTML>
<!-- Namespace for Securty extension for thymeleaf is added enabling the use of sec:authentication and sec:authorize-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <!-- Include header, including javascript and CSS files. -->
    <div th:replace="fragments/header :: header-head"/>

    
</head>
<body>
<!-- Include navigation bar in the page. -->
<div th:replace="fragments/header :: header-nav"/>

<!-- Page content -->
<div class="container mt-4">
    <h1> Car Profile
    <a role="button" class="btn btn-outline-primary"
                th:href="'/secured/car/update/'+${car.carId}">Edit Car</a>
    </h1>
    <table class="table">
    	<tbody>
    		<tr>
    			<td>Car ID:</td>
    			<td th:text="${car.carId}" style="font-weight: bold;">Car ID</td>
    			<td>Registration Number:</td>
    			<td th:text="${car.registrationNumber}" style="font-weight: bold;">Registration Number</td>
    		</tr>
    		<tr>
    			<td>Model: </td>
    			<td th:text="${car.model}" style="font-weight: bold;">Model</td>
    			<td>Rental Price: </td>
    			<td><b>Rs <span th:text= "${car.pricePerDay}" style="font-weight: bold;"> Price</span></b></td>
    		</tr>
    		<tr>
    			<td></td>
    			<td></td>
    			<td>Total Revenue Generated: </td>
    			<td><b>Rs <span  th:text="${#aggregates.sum(rentalList.![charges])}"></span></b></td>
    		</tr>
    		
    	</tbody>
    </table>
    <p></p>
    <h3 class="text-primary">List of Rentals</h3>
       
    <!-- Rental table -->
    <table class="table">
        <thead th:replace="fragments/rentalTableHeader :: rental-table-header"></thead>
        
        <tbody>
        <!-- Rental Search Row -->
        <tr th:replace="fragments/rentalQueryRow :: rental-query-row"></tr>
        
        <!-- Rental list per row -->
        <tr th:replace="fragments/populateRentalTable :: populate-rental-table"></tr>
        </tbody>
    </table>
    

</body>

<!-- Footer -->
    <footer th:replace="fragments/footer :: footer"></footer>
</html>