<!DOCTYPE HTML>
<!-- Namespace for Securty extension for thymeleaf is added enabling the use of sec:authentication and sec:authorize-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <!-- Include header, including javascript and CSS files. -->
    <div th:replace="fragments/header :: header-head"/>

    
</head>
<body>
<!-- Include navigation bar in the page. -->
<div th:replace="fragments/header :: header-nav"></div>

<!-- Page content -->
<div class="container mt-4">


<h1>Rental Profile</h1>

<table class="table">
    	<tbody>
    		<tr>
    			<td>Rental ID:</td>
    			<td th:text="${rent.rentalId}" style="font-weight: bold;">Rental ID</td>
    			<td>Start Date:</td>
    			<td th:text="${rent.startDate}" style="font-weight: bold;">Start Date</td>
    		</tr>
    		<tr>
    			<td>Customer Name: </td>
    			<td th:text="${user.name}" style="font-weight: bold;">Name</td>
    			<td>End Date: </td>
    			<td th:text= "${rent.endDate}" style="font-weight: bold;"> End Date</td>
    		</tr>
    		<tr>
    			<td>Car Registration Number: </td>
		      	<td th:text="${rent.car.registrationNumber}" style="font-weight: bold;"></td>
    			<td>Status: </td>
    			<td>
    			<span th:style="${rent.returned}? 'display:inline': 'display:none'">
    			<a role="button" class="btn btn-outline-success disabled" href="#">Not On Rent</a></span>
    			<span th:style="${rent.returned}? 'display:none':'display:inline'">
    			 <a role="button" class="btn btn-outline-warning disabled" href="#">On Rent</a></span>
    			 </td>
    			
    		</tr>
    		    		
    	</tbody>
    </table>
    

<h1> Customer Profile
    </h1>
    
    <table th:fragment="customer-profile-table" class="table">
    	<tbody>
    		<tr>
    			<td>National ID:</td>
    			<td th:text="${user.nationalId}" style="font-weight: bold;">National ID</td>
    			<td>Date of Birth:</td>
    			<td th:text="${user.dob}" style="font-weight: bold;">Date of birth</td>
    		</tr>
    		<tr>
    			<td>Name: </td>
    			<td th:text="${user.name}" style="font-weight: bold;">Name</td>
    			<td>Gender: </td>
    			<td th:text= "${user.sex}" style="font-weight: bold;"> Gender</td>
    		</tr>
    		<tr>
    			<td>Number of Cars rented: </td>
		      	<td th:text="${#lists.size(rentalList)}" style="font-weight: bold;"></td>
    			<td></td>
    			<td></td>
    		</tr>
    </table>
    <p></p>
         
   
    <h1> Car Profile
    </a>
    </h1>
    <table class="table">
    	<tbody>
    		<tr>
    			<td>Car ID:</td>
    			<td th:text="${rent.car.carId}" style="font-weight: bold;">Car ID</td>
    			<td>Registration Number:</td>
    			<td th:text="${rent.car.registrationNumber}" style="font-weight: bold;">Registration Number</td>
    		</tr>
    		<tr>
    			<td>Model: </td>
    			<td th:text="${rent.car.model}" style="font-weight: bold;">Model</td>
    			<td>Rental Price: </td>
    			<td><b>Rs <span th:text= "${rent.car.pricePerDay}" style="font-weight: bold;"> Price</span></b></td>
    		</tr>
    		
    		
    	</tbody>
    </table>
   


</div>
<!-- Footer -->
    <footer th:replace="fragments/footer :: footer"></footer>
    </body>
</html>