<!DOCTYPE HTML>
<!-- Namespace for Securty extension for thymeleaf is added enabling the use of sec:authentication and sec:authorize-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <!-- Include header, including javascript and CSS files. -->
    <div th:replace="fragments/header :: header-head"/>

    
</head>
<body>
<!-- Include navigation bar in the page. -->
<div th:replace="fragments/header :: header-nav"/>

<!-- Page content -->
<div class="container mt-4">
    <h3 class="text-primary">User Interface
        <!-- Display Add button only for admin users -->
        <a sec:authorize="hasRole('ADMIN')"
                role="button" class="btn btn-outline-primary"
                href="/secured/user/add">Add</a>
        <a sec:authorize="hasRole('ADMIN')"
        role="button" class="btn btn-outline-primary"
        href="/secured/user/all">Show All</a>
    </h3>
	<!-- Status -->
	<h4 class="text-primary">
     	<span class="badge badge-primary" th:text="${status}"></span></h4>
     	
    <!-- User table -->
    <table class="table">
        <thead>
        <tr>
            <th scope="col">National Id</th>
            <th scope="col">Name</th>
            <th scope="col">Gender</th>
            <th scope="col">Date of Birth</th>
            <th scope="col">Role</th>
            <th scope="col" width = "250"></th>
        </tr>
        </thead>
        
        <tbody>
        <!-- User Search Row -->
        <tr th:replace="fragments/userQueryRow :: user-query-row"></tr>
        
        <!-- User list per row -->
        <tr th:each="user : ${userlist}" >
       
            <th scope="row" th:text="${user.nationalId}">National ID</th>
            <td th:text="${user.name}">Name</td>
            <td th:text="${user.sex}">Gender</td>
            <td th:text="${user.dob}">Date of Birth</td>
            <td th:text="${user.role}" >Role</td>
            
            <td class="text-right" sec:authorize="hasRole('ADMIN')">
                <a role="button" class="btn btn-outline-primary" th:href="'/secured/user/read/'+${user.userId}">View</a>
                <a role="button" class="btn btn-outline-primary" th:href="'/secured/user/update/'+${user.userId}">Edit</a>
                <a role="button" class="btn btn-outline-primary" th:href="'/secured/user/delete/'+${user.userId}" onclick="alert('You are about to delet a user entry! Do you wish to proceed?')">Delete</a>
            </td>
          
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>



