<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Include header, including javascript and CSS files. -->
    <div th:replace="fragments/header :: header-head"></div>
    
    
    <!-- JavaScript for password validation -->
    <script>
    function check() {
		if (document.getElementById('password').value == document
				.getElementById('confirmPassword').value) {
			
				document.getElementById('message').style.color="green";
			 document.getElementById('message').innerHTML = "Password match";
		} else {
			document.getElementById('message').style.color="red";
			document.getElementById('message').innerHTML = "Password does not match!";
		}
	}
    
    </script>
</head>
<body>
<!-- Include navigation bar in the page. -->
<div th:replace="fragments/header :: header-nav"></div>




<!-- Main content -->
<div class="container mt-4">
    <form method="post" th:action="@{/secured/user/add}" th:object="${user}" style="margin-left:20%; margin-right:20%">
        <h3 class="text-primary">User <span class="text-primary" th:text="${mode}">Form</span></h3>
        <div class="form-group">
            <label for="nationalId">National ID: </label>
            <input type="text" class="form-control" th:field="*{nationalId}" id="nationalId" placeholder="User National ID" th:readonly="${mode=='Update'}" required />
        </div>
         <div class="form-group">
            <label for="name">Password: </label>
            <input type="password" class="form-control" th:field="*{password}"  id="password" placeholder="Password" onkeyup="check()" required />
        </div>
         <div class="form-group">
            <label for="name">Confirm Password: </label>
            <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password" onkeyup="check()" required />
            <span id='message' class="badge badge-light"></span>
        </div>
        <div class="form-group">
            <label for="name">Name: </label>
            <input type="text" class="form-control" th:field="*{name}"  id="name" placeholder="User Name" required />
        </div>
        <div class="form-group">
            <label for="sex">Gender:</label>
            <select class="form-control" th:field="*{sex}"   id="sex" required>
            	<option value= "Male">Male</option>
            	<option value= "Female">Female</option>
            
            </select>
        </div>
         <div class="form-group">
            <label for="dob">Date of Birth: </label>
            <input type="date" class="form-control" th:field="*{dob}" th:value="*{dob}"  id="dob" placeholder="Date of Birth" required />
        </div>
         <div class="form-group">
            <label for="role">Role: </label>
            <select class="form-control" th:field="*{role}"  id="role" required>
            	<option value = "ROLE_CUSTOMER" selected="selected">Customer</option>
            	<option value= "ROLE_ADMIN">Admin</option>
            
            </select>
        </div>
     
     	
     	<h4 class="text-primary">
     	<span class="badge badge-primary" th:text="${status}"></span></h4>
     	

        <div class="text-center">
            <button type="submit" class="btn btn-primary col-sm-3">Save</button>
        </div>
    </form>
</div>

<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>